<div class="question-card">
  <h3><%= @question %></h3>
  <p class='author'>-You</p>
</div>

<div class="answer-card">
  <h3><%= @answer %></h3>
  <p class='author'>-Your coach</p>
</div>
<br>
<%= link_to 'ASK ANOTHER QUESTION', '/ask' %>
