<form class="form-inline" action="/answer" method='get' >
  <div class="form-group mb-2">
    <input type="text" class="form-control" name="question" value="" style="width: 600px;">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Ask question</button>
</form>
<br>

